<!doctype html>


<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="common/header :: common-header" />

   <body>
    <div th:replace="common/header :: navbar" />
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Job Detail</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                   <img class="img-responsive shelf-job" style="width: 200px;height: 170px;" th:src="@{/image/company/profile/}+'companyProfile'+${job.companyProfile.companyId}+'.png'" />
                                </div>
                                <div class="job-tittle">
                                   

    					<p><strong>Number of Required: </strong><span th:text="${job.requiredMember}"></span></p>

    					<p><strong>Last Applied Date: </strong><span th:text="${job.lastAppliedDate}"></span></p>
    					<p><strong>Language: </strong><span th:text="${job.requiredLanguage}"></span></p>
    					<p><strong>Category: </strong><span th:text="${job.category}"></span></p>
    					<p><strong>Location: </strong><span th:text="${job.location}"></span></p>
    					<p><strong>Minimum Budget: </strong><span th:text="${job.minBudget}"></span></p>
    					<p><strong>Maximum Budget: </strong><span th:text="${job.maxBudget}"></span></p>
    					<p><strong>Status: </strong><span th:text="${job.status}"></span></p>
    				<!--	<p><strong>Company: </strong><span th:text="${job.company}"></span></p> -->
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
							<p><span th:text="${job.description}"></span></p>                            
							</div>
                            <div class="post-details2  mb-50" data-th-each="skill : ${skillList}">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Required Knowledge, Skills, and Abilities</h4>
                                </div>
                               <ul>
                                   <li th:text="${skill.skillName}"></li>
                                   
                               </ul>
                            </div>
                

                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           
                          
                         <div class="apply-btn2" th:if=${applyable}>
								
                            <a th:href="@{/jobSeeker/applyJobConfirmation(jobId=${job.jobId}, companyId=${company.companyId})}" class="btn">Apply Now</a>

                         </div>
                       </div>
                        <div class="post-details4  mb-50" data-th-each="company : ${company}">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Company Information</h4>
                           </div>
                              <span th:text="${company.companyName}"></span>
                              <p th:text="${company.description}"></p>
                            <ul>
                                <!--<li>Name: <span th:text="${company.companyName}"></span></li>-->
                                <li>Web : <span th:text="${company.companyUrl}"></span></li>
                                <li>Email: <span th:text="${company.companyEmail}"></span></li>
                                <li>Phone: <span th:text="${company.companyPhone}"></span></li>
                                <li>Address: <span th:text="${company.companyAddress}"></span></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->

    </main>
     <div th:replace="common/header :: footer"/>

  <div th:replace="common/header :: body-bottom-scripts" />
        
    </body>
</html>