<!DOCTYPE html>


<!-- 
	
	
	user, jobSeekerProfile is needed 
	
	
	
-->


<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Job Seeker</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<!-- data table -->
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />

<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<link rel="icon" href="/image/applie-touch-icon.png" />
</head>


<body>
	<div class="page-top"
			style="width: 100%; height: 20px; background-color: #f46b42;"></div>
		<!-- Static navbar -->
		<div class="topnav">
		 <a th:href="@{/index}"><img src="assets/img/logo/logo.png" alt=""></a>
		 <a></a> <a></a> <a></a> <a></a> <a></a> <a></a> <a></a> <a></a>  <a></a> <a></a> <a></a> <a></a> <a></a> <a></a> <a></a> 
  <a class="active" th:href="@{/index}">Home</a>
  <a th:href="@{/job_listing}">Find a Jobs </a>
  <a th:href="@{/about}">About</a>
  <a th:href="@{/contact}">Contact</a>
</div>

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<h2 class="section-headline">
						<span th:text="${#strings.toUpperCase(user.username)}"></span>
					</h2>
				</h2>
			</div>
			<div class="col-xs-4">
				<img src="/image/logo.png" class="img-responsive" />
			</div>
		</div>
		

		<div class="row" style="margin-top: 60px;">
			<div class="col-xs-9 col-xs-offset-3">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveEdit}? 'active'"><a
						href="#tab-1" data-toggle="tab"><span style="color: red;">Edit</span></a></li>
					
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">

					<!-- Edit user information -->
					<div class="tab-pane fade" id="tab-1"
						th:classappend="${classActiveEdit}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<div class="alert alert-danger" th:if="${incorrectPassword}">
										<strong>Incorrect Password!</strong> Pleae enter the correct
										password for the current user.
									</div>

									<div class="alert alert-succss" th:if="${seekerProfileSuccess}">
										<strong>Seeker profile Update Success!</strong>
									</div>

									<form th:action="@{/updateSeekerInfo}" method="post">
										<input type="hidden" name="id" th:value="${jobSeekerProfile.seekerProfileId}" />

										<div class="bg-info" th:if="${updateSeekerInfo}">Seeker info
											updated.</div>

										<div class="form-group">
											<div class="row">
												<div class="col-xs-6">
													<label for="firstName">First Name</label> <input
														type="text" class="form-control" id="firstName"
														name="firstName" th:value="${jobSeekerProfile.firstName}" />
												</div>
												<div class="col-xs-6">
													<label for="lastName">Last Name</label> <input type="text"
														class="form-control" id="lastName" name="lastName"
														th:value="${jobSeekerProfile.lastName}" />
												</div>
											</div>
										</div>

										
										<div class="form-group">
											<label for="currentPassword">Current Password</label> ' <input
												type="password" class="form-control" id="currentPassword"
												name="password" th:value="${currentPassword}" />
										</div>
										<p style="color: #828282">Enter your current password to
											change the email address or password.</p>

										<div class="form-group">
											<label for="email">* Email Address</label> ' <input
												type="text" class="form-control" id="email" name="email"
												th:value="${user.email}" />
										</div>
										<p style="color: #828282">A valid email address. All
											emails from the system withll be sent to this address. The
											email address is not made public and will only be used if you
											wish to receive a new password or wish to receive certain
											notification.</p>

										<div class="form-group">
											<label for="txtNewPassword">Password</label>&nbsp;<span
												id="checkPasswordMatch" style="color: red;"></span> <input
												type="password" class="form-control" id="txtNewPassword"
												name="newPassword" />
										</div>

										<div class="form-group">
											<label for="txtConfirmPassword">Confirm Password</label> ' <input
												type="password" class="form-control" id="txtConfirmPassword" />
										</div>
										<p style="color: #828282">To change the current user
											password, enter the new password in both fields.</p>
										
										<div class="form-group">
											<textarea name="description" rows="5" class="form-control"
												id="description" th:value="${jobSeekerProfile.description}"
												placeholder="Description" ></textarea>
												<span class="help-block">Descripe about you</span>
										</div>
											<!-- upload image -->
										<div class="form-group">
												<label for="bookImage">Upload Your image</label>
											<div class="col-md-8">
												<input id="image" type="file" name="seekerImage"
													th:value="${jobSeekerProfile.profileImage}" />
											</div>
										</div>

										<button id="updateSeekerInfoButton" type="submit"
											class="btn btn-primary">Save All</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->
<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>

		<script th:src="@{/js/scripts.js}"></script>

		<!-- data table -->
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
</body>
</html>
