<!doctype html>

<!--
	
	
	-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Job board HTML-5 Template </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" th:href="@{/site.webmanifest}">
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
	<link rel="stylesheet"  th:href="@{/assets/css/bootstrap-theme.min.css}">
	<link rel="stylesheet"  th:href="@{/assets/css/owl.carousel.min.css}">
	<link rel="stylesheet"  th:href="@{/assets/css/flaticon.css}">
	<link rel="stylesheet"  th:href="@{/assets/css/price_rangs.css}">
	<link rel="stylesheet"  th:href="@{/assets/css/slicknav.css}">
	<link rel="stylesheet"  th:href="@{/assets/css/animate.min.css}">
	<link rel="stylesheet"  th:href="@{/assets/css/magnific-popup.css}">
	<link rel="stylesheet"  th:href="@{/assets/css/fontawesome-all.min.css}">
	<link rel="stylesheet"  th:href="@{/assets/css/themify-icons.css}">
	<link rel="stylesheet"  th:href="@{/assets/css/slick.css}">
	<link rel="stylesheet"  th:href="@{/assets/css/nice-select.css}">
	<link rel="stylesheet"  href="assets/css/style.css">

	<style>
		body {
			color: #8e9194;
			background-color: #f4f6f9;
		}

		.avatar-xl img {
			width: 110px;
		}

		.rounded-circle {
			border-radius: 50% !important;
		}

		img {
			vertical-align: middle;
			border-style: none;
		}

		.text-muted {
			color: #aeb0b4 !important;
		}

		.text-muted {
			font-weight: 300;
		}

		.form-control {
			display: block;
			width: 100%;
			height: calc(1.5em + 0.75rem + 2px);
			padding: 0.375rem 0.75rem;
			font-size: 0.875rem;
			font-weight: 400;
			line-height: 1.5;
			color: #4d5154;
			background-color: #ffffff;
			background-clip: padding-box;
			border: 1px solid #eef0f3;
			border-radius: 0.25rem;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}
	</style>
</head>


<body>
	<div th:replace="common/header :: navbar" />


	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10 col-xl-8 mx-auto">
				<h2 class="h3 mb-4 page-title">Settings</h2>
				<div class="my-4">
					<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
						<li class="nav-item" th:classappend="${classActiveProfile}? 'active'">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
								aria-controls="home" aria-selected="false"><span
									style="color: rgb(255, 0, 128);">Profile</span></a>
						</li>
						<li class="nav-item" th:classappend="${classActiveEducation}? 'active'">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#education" role="tab"
								aria-controls="home" aria-selected="false"><span
									style="color: red;">Education</span></a>
						</li>
						<li class="nav-item" th:classappend="${classActiveProfilExperience}? 'active'">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#experience" role="tab"
								aria-controls="home" aria-selected="false"><span
									style="color: red;">Experience</span></a>
						</li>
					</ul>

					<!-- password @p -->
					<div class="alert alert-danger" th:if="${incorrectPassword}">
						<strong>Incorrect Password!</strong> Pleae enter the correct
						password for the current user.
					</div>
					
					<div class="alert alert-danger" th:if="${incorrectPassword}">
						<strong>Incorrect Password!</strong> Pleae enter the correct
						password for the current user.
					</div>

					<div class="alert alert-succss" th:if="${updateSuccess}">
						<strong>Update Success!</strong>
					</div>
					<!-- password @p -->

					<!-- Profile -->
					<div class="tab-content">
						<div  role="tabpanel" class="tab-pane" id="home" th:classappend="${classActiveProfile}? 'in active'">
							<form th:action="@{/jobSeeker/updateUserInfo}" method="post" th:object="${skillHolder}"}>
								<!-- updateinfo @p -->
								<input type="hidden" name="userId" th:value="${user.userId}" />
								<input type="hidden" name="seekerProfileId" th:value="${jobSeekerProfile.seekerProfileId}" />


								<div class="bg-info" th:if="${updateUserInfo}">User info
									updated.</div>
								<!-- updateinfo @p -->


								<div class="row mt-5 align-items-center">
									<div class="col-md-3 text-center mb-5">
										<div class="avatar avatar-xl">
											<!--<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="..."
												class="avatar-img rounded-circle" />-->
											<img th:src="@{/image/}+${jobSeekerProfile.seekerProfileId}+'.png'" alt="..."
												class="avatar-img rounded-circle" />
											<input id="profileImage" type="file" name="profileImage"
													th:value="${jobSeekerProfile.profileImage}" />
										</div>
									</div>
									<div class="col">
										<div class="row align-items-center" th:if="${ user.firstTimeLogin}">
											<div class="col-md-7">
												<h4 class="mb-1"
													th:text="${jobSeekerProfile.firstName}  +  ${jobSeekerProfile.LastName}">
												</h4>
												<p class="small mb-3"><span class="badge badge-dark"
														th:text="${jobSeekerProfile.status}"></span></p>
											</div>
										</div>
										<div class="row mb-4">
											<div class="col-md-7">
												<p class="text-muted" th:text="${jobSeekerProfile.description}">

												</p>
											</div>
											<div class="col">
												<!-- right pane -->
											</div>
										</div>
									</div>
								</div>
								<hr class="my-4" />


								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="firstName">Firstname</label>
										<input type="text" id="firstName" class="form-control" name="firstName"
											th:placeholder="${jobSeekerProfile.firstName}"
											th:value="${jobSeekerProfile.firstName}" />
									</div>
									<div class="form-group col-md-6">
										<label for="lastName">Lastname</label>
										<input type="text" id="lastName" class="form-control" name="lastName"
											th:placeholder="${jobSeekerProfile.lastName}"
											th:value="${jobSeekerProfile.lastName}" />
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail4">Email</label>
									<input type="email" class="form-control" id="inputEmail4" name="email"
										th:placeholder="${user.email}" th:value="${user.email}" />
								</div>
								<div class="form-row">
									<div class="form-group col-md-8">
										<label for="inputCompany5">User Name</label>
										<input type="text" class="form-control" id="inputCompany5" name=username
											th:placeholder="${user.username}" th:value="${user.username}" />
									</div>
									<div class="form-group col-md-2">
										<label for="inputZip5">gender</label>
										<div class="form-check">
											<input class="form-check-input" required="required" type="radio" id="gender" th:checked="(${user.gender} == 'male')"
												name="gender" value="male">
											<label class="form-check-label" for="flexRadioDefault1">
												Male
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" required="required" type="radio" id="gender" th:checked="(${user.gender} == 'female')"
												name="gender" value="female">
											<label class="form-check-label" for="flexRadioDefault2">
												Female
											</label>
										</div>
									</div>
									<div class="form-group col-md-2">
										<label for="inputZip5">Status</label>
										<div class="form-check">
											<input class="form-check-input" required="required" type="radio" id="gender" th:checked="(${jobSeekerProfile.status} == 'busy')"
												name="status" value="busy">
											<label class="form-check-label" for="flexRadioDefault1">
												Busy
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" required="required" type="radio" id="gender" th:checked="(${jobSeekerProfile.status} == 'available')"
												name="status" value="available">
											<label class="form-check-label" for="flexRadioDefault2">
												Available
											</label>
										</div>
									</div>
								</div>
								<!--   <div class="form-group">
                    <label for="inputAddress5">Date of Birth</label>
                    <input type="text" class="form-control" id="inputAddress5" placeholder="P.O. Box 464, 5975 Eget Avenue" />
                </div> -->
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="inputCompany5">Date of Birth</label>
										<input type="date" class="form-control" id="dob" name="dob"
											th:placeholder="${user.dob}" th:value="${user.dob}" />
									</div>
									<div class="form-group col-md-6">
										<label for="inputState5">Category</label>
										<select id="category" class="form-control" name="category"
											th:value="${jobSeekerProfile.category}">
											<option value="DesignAndCreative" th:selected="${jobSeekerProfile.category} == 'DesignAndCreative'">Design & Creative</option>
											<option value="DesignAndDevelopment" th:selected="${jobSeekerProfile.category} == 'DesignAndDevelopment'">Design & Development</option>
											<option value="SalesAndMarketing" th:selected="${jobSeekerProfile.category} == 'SalesAndMarketing'">Sales & Marketing</option>
											<option value="MobileApplication" th:selected="${jobSeekerProfile.category} == 'MobileApplication'">Mobile Application</option>
											<option value="InformationTechnology" th:selected="${jobSeekerProfile.category} == 'InformationTechnology'">Information Technology</option>
											<option value="ContentWriter" th:selected="${jobSeekerProfile.category} == 'ContentWriter'">Content Writer</option>
										</select>
									</div>

								</div>
								<hr class="my-4" />


								<div class="form-group">
									<label for="inputPassword4">Old Password</label>
									<input type="password" class="form-control" id="inputPassword5" name=password
										th:value="${currentPassword}" />
								</div>
								<div class="form-group">
									<label for="inputPassword5">New Password</label>&nbsp;<span id="checkPasswordMatch"
										style="color: red;"></span>
									<input type="password" class="form-control" id="txtNewPassword" name="newPassword"/>
								</div>
								<div class="form-group">
									<label for="inputPassword6">Confirm Password</label>
									<input type="password" class="form-control" id="txtConfirmPassword" />
								</div>




								<!-- Skill & Education -->

								<hr class="my-4" />
								<div class="row mb-4">

									<div class="col-md-6">
										<p class="mb-2">Skill</p>
										<div class="form-group">

											<input type="checkbox" class="form-control" th:each="skill : ${allSkills}" name="skillNameList"
												th:text="${skill.skillName}" th:value="${skill.skillName}"th:field="*{skills}"
												th:checked="${#lists.contains(jskillNameList, skill.skillName)}" />
										</div>

									</div>

								</div>

								<div class="form-group">
									<label for="inputEmail4">Description</label>
									<textarea name="description" rows="5" class="form-control" id="description"
										th:value="${jobSeekerProfile.description}" th:text="${jobSeekerProfile.description}"
										placeholder="Description"></textarea>
								</div>
								<button type="submit" id="updateUserInfoButton" class="btn btn-primary">Save
									Change</button>
								<a class="btn btn-danger" th:href="@{/}">Cancel</a>
							</form>
						</div>
						<div class="tab-pane fade" id="education" th:classappend="${classActiveEducation}? 'in active'">
						</div>
						<div class="tab-pane fade" id="experience" th:classappend="${classActiveExperience}? 'in active'">
						</div>
						
					</div>
					
					
					
					
					
					<!-- Education -->
					<div class="tab-content">
						<div  role="tabpanel" class="tab-pane" id="education" th:classappend="${classActiveEducation}? 'in active'">
							<form th:action="@{/jobSeeker/updateEducationInfo}" method="post">
								<!-- updateinfo @p -->
								<input type="hidden" name="userId" th:value="${user.userId}" />
								<input type="hidden" name="educationId" th:value="${educationProfile.educationId}" />


								<div class="bg-info" th:if="${updateEducationInfo}">User info
									updated.</div>
								<!-- updateinfo @p -->


									<div class="row mt-5 align-items-center">
									<!-- prorfile image is removed in this area -->
									
									</div>
								<hr class="my-4" />
								
									<div class="form-group">
										<label for="certificateName">Certificate Name</label>
										<input type="text" id="certificateName" class="form-control" name="certificateName"
											th:placeholder="${educationProfile.certificateName}"
											th:value="${educationProfile.certificateName}" />
									</div>
									<div class="form-group">
										<label for="major">Major</label>
										<input type="text" id="major" class="form-control" name="major"
											th:placeholder="${educationProfile.major}"
											th:value="${educationProfile.major}" />
									</div>
								
								<div class="form-group">
									<label for="inputEmail4">University Name</label>
									<input type="text" class="form-control" id="inputEmail4" name="email"
										th:placeholder="${educationProfile.universityName}" th:value="${educationProfile.universityName}" />
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="inputCompany5">Start Date</label>
										<input type="date" class="form-control" id="startDate" name="startDate"
											th:placeholder="${educationProfile.startDate}" th:value="${educationProfile.startDate}" />
									</div>
									<div class="form-group col-md-6">
										<label for="inputCompany5">Complete Date</label>
										<input type="date" class="form-control" id="completeDate" name="completeDate"
											th:placeholder="${educationProfile.completeDate}" th:value="${educationProfile.completeDate}" />
									</div>
									
								</div>
											
																
								<button type="submit" id="updateEducationInfo" class="btn btn-primary">Save
									Change</button>
								<a class="btn btn-danger" th:href="@{/}">Cancel</a>
							</form>
						</div>
						
						<!-- List -->
						<hr class="my-4" />
								<div class="row mb-4">
									<p class="mb-2" style="color: deepskyblue;font-size: x-large;">Your Education List</p>
									<div class="col-md-6" data-th-each="education : ${educationList}">
										
										<div class="form-group">
											<label for="inputEmail4">Certificate Name ~~~</label>
											<label th:text="${education.certificateName}"></label>
										</div>
										<div class="form-group">
											<label for="inputEmail4">Major ~~~</label>
											<label th:text="${education.major}"></label>
										</div>
										<div class="form-group">
											<label for="inputEmail4">University Name ~~~</label>
											<label th:text="${education.universityName}"></label>
										</div>
										<div class="form-group">
											<label for="inputEmail4">Start Date ~~~</label>
											<label th:text="${education.startDate}"></label>
										</div>
										<div class="form-group">
											<label for="inputEmail4">Complete Date ~~~</label>
											<label th:text="${education.completeDate}"></label>
										</div>
										<br />
										<hr style="color: thistle;" />
										
									</div>

								</div>
						
						<div class="tab-pane fade" id="home" th:classappend="${classActiveProfile}? 'in active'">
						</div>
						<div class="tab-pane fade" id="experience" th:classappend="${classActiveExperience}? 'in active'">
						</div>
						
					</div>
					
					
					
					<!-- Experience -->
						<div class="tab-content">
						<div  role="tabpanel" class="tab-pane" id="experience" th:classappend="${classActiveProfilExperience}? 'in active'">
							<form th:action="@{/jobSeeker/updateExperienceInfo}" method="post">
								<!-- updateinfo @p -->
									<input type="hidden" name="userId" th:value="${user.userId}" />
								<input type="hidden" name="experienceId" th:value="${experienceProfile.experienceId}" />


								<div class="bg-info" th:if="${updateExperienceInfo}">User info
									updated.</div>
								<!-- updateinfo @p -->


									<div class="row mt-5 align-items-center">
									<!-- prorfile image is removed in this area -->
									
									</div>
								<hr class="my-4" />
								
									<div class="form-group">
										<label for="jobTitle">Job Title</label>
										<input type="text" id="jobTitle" class="form-control" name="jobTitle"
											th:placeholder="${experienceProfile.jobTitle}"
											th:value="${experienceProfile.jobTitle}" />
									</div>
									<div class="form-group">
										<label for="companyName">Company Name</label>
										<input type="text" id="companyName" class="form-control" name="companyName"
											th:placeholder="${experienceProfile.companyName}"
											th:value="${experienceProfile.companyName}" />
									</div>
								
								<div class="form-group">
									<label for="jobAddress">Job Address</label>
									<input type="text" class="form-control" id="inputEmail4" name="jobAddress"
										th:placeholder="${experienceProfile.jobAddress}" th:value="${experienceProfile.jobAddress}" />
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="startDate">Start Date</label>
										<input type="date" class="form-control" id="startDate" name="startDate"
											th:placeholder="${experienceProfile.startDate}" th:value="${experienceProfile.startDate}" />
									</div>
									<div class="form-group col-md-6">
										<label for="completeDate">Complete Date</label>
										<input type="date" class="form-control" id="completeDate" name="completeDate"
											th:placeholder="${experienceProfile.completeDate}" th:value="${experienceProfile.completeDate}" />
									</div>
									<div class="form-group">
									<label for="inputEmail4">Description</label>
									<textarea name="description" rows="5" class="form-control" id="description"
										th:value="${experienceProfile.description}" th:text="${experienceProfile.description}"
										placeholder="Description"></textarea>
								</div>
									
								</div>
											
																
								<button type="submit" id="updateExperienceInfo" class="btn btn-primary">Save
									Change</button>
								<a class="btn btn-danger" th:href="@{/}">Cancel</a>
							</form>
						</div>
						
						<!-- List -->
						<hr class="my-4" />
								<div class="row mb-4">
									<p class="mb-2" style="color: deepskyblue;font-size: x-large;">Your Experience List</p>
									<div class="col-md-6" data-th-each="experience : ${experienceList}">
										
										<div class="form-group">
											<label for="inputEmail4">Job Title ~~~</label>
											<label th:text="${experience.jobTitle}"></label>
										</div>
										<div class="form-group">
											<label for="inputEmail4">Company Name ~~~</label>
											<label th:text="${experience.companyName}"></label>
										</div>
										<div class="form-group">
											<label for="inputEmail4">Job Address ~~~</label>
											<label th:text="${experience.jobAddress}"></label>
										</div>
										<div class="form-group">
											<label for="inputEmail4">Start Date ~~~</label>
											<label th:text="${experience.startDate}"></label>
										</div>
										<div class="form-group">
											<label for="inputEmail4">Complete Date ~~~</label>
											<label th:text="${experience.completeDate}"></label>
										</div>
										<br />
										<hr style="color: thistle;">
										
									</div>

								</div>
								
						<div class="tab-pane fade" id="home" th:classappend="${classActiveProfile}? 'in active'">
						</div>
						<div class="tab-pane fade" id="education" th:classappend="${classActiveEducation}? 'in active'">
						</div>
						
					</div> 
					
				</div>
			</div>
		</div>

	</div>



	<div th:replace="common/header :: footer" />

	<div th:replace="common/header :: body-bottom-scripts" />

	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<script th:src="@{/js/scripts.js}"></script>

	<!-- data table -->
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>


</body>

</html>